/*classes padrão*/
* {margin:0;padding:0;box-sizing: border-box;}
body {height:100%;transition: 0.5s;}
.container-p {width: 100%;max-width: 800px;margin: 0 auto;}
.container-m {width: 100%;max-width: 1200px;margin: 0 auto;}
.container-g {width: 100%;max-width: 1800px;margin: 0 auto;}
.selected {font-weight: 700; color: black;}
.clear{clear:both;}


/*fontes*/
.jura-light {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.jura-mid {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
  }

.jura-max {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }


/*SESSÃO NAVBAR*//*SESSÃO NAVBAR*//*SESSÃO NAVBAR*//*SESSÃO NAVBAR*/
nav {
   background-color: rgb(191, 81, 255); 
   width: 100%;
   height: 65px;
   box-shadow: 1px 1px 3px rgb(0, 0, 0);
   z-index: 999;
   position: fixed;
}

.logo a {
    display: inline-block;
    padding-top: 0.3%;
    font-size: 40px;
    text-shadow: 1px 1px 3px rgb(51, 51, 51);
    color: rgb(231, 231, 231);
    text-decoration: none;
}

nav .menu-desktop {
    float: right;
    margin-top: 1.2%; 
}

nav .menu-desktop ul {
    list-style-type: none;
    text-decoration: none;
 
}

nav .menu-desktop ul li {
    display: inline-block;
    padding-left: 15px;
    font-size: 20px;
    color: rgb(231, 231, 231);
    transition: 0.5s;
    text-shadow: 1px 1px 3px rgb(46, 45, 45);
}

nav .menu-desktop ul li:hover {
    scale: 1.05;
    transition: 0.3s;
    text-decoration:underline;
}
/*FIM DA SESSÃO NAVBAR*//*FIM DA SESSÃO NAVBAR*//*FIM DA SESSÃO NAVBAR*/


/*SESSÃO HOME*//*SESSÃO HOME*//*SESSÃO HOME*//*SESSÃO HOME*/
.apresentacao {
    height: 864px;
    z-index: 1;
}

.apresentacao .wallpaper {
    width: 100%;
    height: 864px;
    background-image: url(../imagens/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(25%);
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 55px;
}

.ap-chamada {
    width: 48%;
    height: 800px;
    color: white;
    filter: brightness(100%);
    z-index: 10;
    float: left;
    position: relative;
    bottom: -95px;
    left: 30px;
    padding-top: 7%;
}

.ap-chamada figure {
    width: 57%;
    margin: 0 auto;
}

.ap-chamada figure .nome {
    width: 550px;
    height:250px;
}

.ap-chamada h5 {
    text-align: center;
    font-size: 25px;
}

span {
    color: rgb(185, 105, 238);
}

.ap-chamada p {
    width: 60%;
    margin: 2% auto;
    text-align: center;
}

.ap-chamada .botao-conhecer {
    width: 35%;
    height: 35px;
    margin-left: 41%;
    margin-top: 2%;
    border:0;
    box-shadow: 3px 3px 5px rgb(36, 36, 36);
    font-size: 22px;
    color: rgb(219, 218, 218);
    background-image: linear-gradient(rgb(198, 80, 245),rgb(118, 31, 145));
    transition: 0.5s;
    cursor: pointer;
}



.ap-ilustracao {
    width: 700px;
    height: 700px;
    z-index: 10;
    position: relative;
    right: 250px;
    top: 135px;
    float: right;
    border: 1px solid white;
    background-image: url(../imagens/image1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 5px 5px 20px 30px black;

}

.ap-ilustracao:hover {
    scale: 1.03;
    transition: 0.5s;
}
/*FIM DA SESSÃO HOME*//*FIM DA SESSÃO HOME*//*FIM DA SESSÃO HOME*/




/*SESSÃO SERVICOS*//*SESSÃO SERVICOS*//*SESSÃO SERVICOS*/
.servicos {
    height: 920px;
    width: 100%;
    margin-top: 55px;
    background-image: linear-gradient( black 5%, rgb(67, 21, 94));
    z-index: -1;
}

.servicos h1 {
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5%;
    color: white;
}

.servicos .container-g {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
}

.servicos .container-g .box {
    width: 25%;
    height:300px;
    border: 1px solid white;
    border-radius: 2%;
    margin: 3% 1% 0 5.5%;
    box-shadow: 5px 5px 10px black;
}

.servicos .container-g .box:hover {
    scale: 1.1;
    transition: 0.3s;
}

.servicos .container-g .box .icone {
    width: 35%;
    height:150px;
    margin: 0 auto;
}
.servicos .container-g .box .icone i{
    font-size: 100px;
    text-shadow: 3px 3px 3px black;
    padding: 12% 0;
}

.servicos .container-g .box .texto {
    width: 100%;
    height: calc(100% - 150px);
    color: rgb(204, 204, 204);
    background-color: rgb(124, 36, 165);
    text-align: center;
    padding: 2% 0;
    border-radius: 3%;
}
.servicos .container-g .box .texto h2 {
    padding-bottom: 2%;
}
.servicos .container-g .box .texto p {
    font-size: 15px;
}

.botao-conhecer {
    margin: 3% auto;
    text-align: center;
    width: 16%;
    height: 40px;
    border:0;
    box-shadow: 3px 3px 5px rgb(36, 36, 36);
    font-size: 22px;
    text-decoration: none;
    padding: 0.3% 3%;
    color: rgb(219, 218, 218);
    background-image: linear-gradient(rgb(198, 80, 245),rgb(118, 31, 145));
    transition: 0.5s;
    cursor: pointer;
}

.botao-conhecer:hover {
    background-image: linear-gradient(rgb(183, 67, 230),rgb(90, 19, 112));
}

/*FIM DA SESSÃO SERVICOS*//*FIM DA SESSÃO SERVICOS*/



/*SESSÃO CONTATO*//*SESSÃO CONTATO*//*SESSÃO CONTATO*//*SESSÃO CONTATO*/
.contato {
    height: 900px;
    width: 100%;
    z-index: -1;
    color: rgb(223, 223, 223);
}

.contato .wallpaper {
    width: 100%;
    height: 900px;
    background-image: url(../imagens/bg2x.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(25%);
    z-index: -1;
    position: absolute;
    float: left;
}

.contato h1 {
    font-size: 45px;
    text-align: center;
    padding-top: 5%;
}

.contato p {
    text-align: center;
    margin-bottom: 5%;
}

.contato .formulario {
    width: 35%;
    height: 250px;
    display: inline-block;
    margin-left: 2%;
}

.contato .formulario input {
    display: block;
    width: 100%;
    padding: 2.6% 1%;
    margin-bottom: 2%;
}

.contato .formulario input:focus {
    outline: none;
}

.contato .formulario input[type=submit] {
    height: 50px;
    cursor: pointer;
    border:0;
    box-shadow: 3px 3px 5px rgb(36, 36, 36);
    font-size: 16px;
    color: rgb(219, 218, 218);
    background-image: linear-gradient(rgb(198, 80, 245),rgb(118, 31, 145));
}

.contato .canais {
    width: 58%;
    height: 250px;
    display: inline-block;
    margin: 0 0 0 3%;
}

.contato .canais .canal {
    height: 250px;
    width: 30%;
    background-color: rgb(236, 236, 236);
    color: rgb(63, 63, 63);
    text-align: center;
    display: inline-block;
    margin: 0 0.5%;
}

.contato .canais .canal i {
    font-size: 125px;
    margin-bottom: 15%;
}

.contato .canais .canal h2 {
    margin-bottom: 15%;
}

.contato .canais .canal a {
    box-shadow: none;
    font-size: 18px;
    padding: 1% 15%;
}

.contato .vantagens {
    margin-top: 5%;
    font-size: 60px;
}
/*FIM DA SESSÃO CONTATO*//*FIM DA SESSÃO CONTATO*//*FIM DA SESSÃO CONTATO*/


/*SESSÃO SOBRE*//*SESSÃO SOBRE*//*SESSÃO SOBRE*//*SESSÃO SOBRE*/
.sobre {
    height: 500px;
    width: 100%;
    z-index: -1;
    color: rgb(223, 223, 223);
}

.sobre .container-g {
    padding-top: 7%;
}

.sobre .wallpaper {
    width: 100%;
    height: 500px;
    /*background-image: url(../imagens/Animação.gif);
    background-size: cover;
    background-position: center;
    filter: brightness(35%);*/
    background-color: black;
    z-index: -1 ;
    position: absolute;
    float: left;
}

.sobre .quem {
    width:15%;
    border-right: 2px solid white;
    font-size: 40px;
    text-align: right;
    padding-right: 2%;
    display: inline-block;
}

.sobre .descricao {
    width: 40%;
    height: 200px;
    display: inline-block;
    font-size: 25px;
    text-align: justify;
    margin-right: 2%;
    background-color: rgba(0, 0, 0, 0.6);
}

.sobre .ceos {
    width: 40%;
    height: 200px;
    display: inline-block;
}

.sobre .ceos .ceo-single {
    width: 100%;
    height: 110px;
}

.sobre .ceos .ceo-single img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px black;
    display: inline-block;
}

.sobre .ceos .ceo-single .txt {
    width:calc(100% - 100px);
    display: inline-block;
    padding-left: 2%;
    position: relative;
    top: -10px;
    background-color: rgba(0, 0, 0, 0.6);
}
/*FIM DA SESSÃO SOBRE*//*FIM DA SESSÃO SOBRE*//*FIM DA SESSÃO SOBRE*/




/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/
footer {
    width: 100%;
    height: 150px;
    background-color: rgb(9, 9, 83);
    text-align: center;
    color: rgb(196, 196, 196);
    padding-top: 1%;
}
/*FIM DO FOOTER*//*FIM DO FOOTER*//*FIM DO FOOTER*//*FIM DO FOOTER*/