/*classes padrão*/
* {margin:0;padding:0;box-sizing: border-box;}
body {height:100%;transition: 0.5s;}
.container-p {width: 100%;max-width: 800px;margin: 0 auto;}
.container-m {width: 100%;max-width: 1200px;margin: 0 auto;}
.container-g {width: 100%;max-width: 1800px;margin: 0 auto;}
.selected {font-weight: 700; color: black;}
.clear{clear:both;}


/*fontes*/
.jura-light {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.jura-mid {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
  }

  .jura-max {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }


/*SESSÃO NAVBAR*//*SESSÃO NAVBAR*//*SESSÃO NAVBAR*//*SESSÃO NAVBAR*/
nav {
   background-image: linear-gradient(rgb(165, 67, 226),rgb(149, 46, 209)); 
   width: 100%;
   height: 85px;
   box-shadow: 1px 1px 3px rgb(0, 0, 0);
   z-index: 999;
   position: fixed;
}

.logo a {
    display: inline-block;
    padding-top: 0.8%;
    font-size: 40px;
    text-shadow: 1px 1px 3px rgb(51, 51, 51);
    color: rgb(221, 220, 221);
    text-decoration: none;
}

nav .menu-desktop {
    float: right;
    margin-top: 1.7%; 
}

nav .menu-desktop ul {
    list-style-type: none;
    text-decoration: none;
 
}

nav .menu-desktop ul li {
    display: inline-block;
    padding-left: 15px;
    font-size: 20px;
    color: rgb(221, 220, 221);
    transition: 0.5s;
    text-shadow: 1px 1px 3px rgb(46, 45, 45);
}

nav .menu-desktop ul li:hover {
    scale: 1.05;
    transition: 0.3s;
    text-decoration:underline;
}
/*FIM DA SESSÃO NAVBAR*//*FIM DA SESSÃO NAVBAR*//*FIM DA SESSÃO NAVBAR*/

/*SESSÃO HOME*//*SESSÃO HOME*//*SESSÃO HOME*//*SESSÃO HOME*/
.apresentacao {
    height: 864px;
    z-index: 1;
}

.apresentacao .wallpaper {
    width: 100%;
    height: 864px;
    background-image: url(../imagens/bg1.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(25%);
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 55px;
}

.ap-chamada {
    width: 48%;
    height: 800px;
    color: white;
    filter: brightness(100%);
    z-index: 10;
    float: left;
    position: relative;
    bottom: -95px;
    left: 30px;
    padding-top: 7%;
}

.ap-chamada figure {
    width: 57%;
    margin: 0 auto;
}

.ap-chamada figure .nome {
    width: 550px;
    height:250px;
}

.ap-chamada h5 {
    text-align: center;
    font-size: 25px;
}

.ap-chamada span {
    color: rgb(185, 105, 238);
}

.ap-chamada p {
    width: 60%;
    margin: 2% auto;
    text-align: center;
}

.ap-chamada input[type=button] {
    width: 25%;
    height: 35px;
    margin-left: 37%;
    margin-top: 2%;
    border:0;
    box-shadow: 3px 3px 5px rgb(36, 36, 36);
    font-size: 22px;
    color: rgb(219, 218, 218);
    background-image: linear-gradient(rgb(198, 80, 245),rgb(118, 31, 145));
    transition: 0.5s;
    cursor: pointer;
}

.ap-chamada input[type=button]:hover {
    scale: 1.2;
}



.ap-ilustracao {
    width: 43%;
    height: 525px;
    z-index: 10;
    position: relative;
    right: 150px;
    top: 220px;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: flex-start;
    justify-content: space-between;
    align-items: baseline;
}

.ap-ilustracao .img1 {
    width: 450px;
    height: 400px;
    background-image: url(../imagens/layout.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.ap-ilustracao .img2 {
    width: 350px;
    height: 300px;
    background-image: url(../imagens/layout2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 75px;
}
.ap-ilustracao .img3 {
    width: 450px;
    height:100px;
    background-image: url(../imagens/layout3.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.ap-ilustracao div:hover {
    scale: 1.03;
    transition: 0.5s;
}

/*FIM DA SESSÃO HOME*//*FIM DA SESSÃO HOME*//*FIM DA SESSÃO HOME*/




/*SESSÃO SERVICOS*//*SESSÃO SERVICOS*//*SESSÃO SERVICOS*/

.servicos {
    height: 900px;
    width: 100%;
    margin-top: 55px;
    background-image: linear-gradient( black 5%, rgb(67, 21, 94));
    z-index: -1;
}

.servicos h1 {
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5%;
    color: white;
}

.servicos .container-m {
    display: flex;
    flex-wrap: wrap;
}

.servicos .container-m .box {
    width: 40%;
    height:300px;
    border: 1px solid white;
    border-radius: 2%;
    margin-top: 5%;
    box-shadow: 5px 5px 10px black;
}

.servicos .container-m .box .icone {
    width: 30%;
    height:150px;
    margin: 0 auto;
}
.servicos .container-m .box .icone i{
    font-size: 115px;
    text-shadow: 3px 3px 3px black;
    padding: 12% 0;
}

.servicos .container-m .box .texto {
    width: 100%;
    height: calc(100% - 150px);
    color: rgb(204, 204, 204);
    background-color: rgb(124, 36, 165);
    text-align: center;
    padding: 2% 0;
    border-radius: 3%;
}
.servicos .container-m .box .texto h2 {
    padding-bottom: 2%;
}


/*FIM DA SESSÃO SERVICOS*//*FIM DA SESSÃO SERVICOS*/